* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}

h2 {
  background-color: rgb(95, 95, 95);
  font-family: Helvetica;
  font-size: 1cm;
  margin-bottom: 0.7cm;
  padding: 0.2cm 0;
  text-align: center;
  text-shadow: 0.15cm 0.15cm black;
}

h3 {
  font-size: 1.2cm;
  margin: 1cm 0;
}

p {
  font-size: 0.5cm;
  margin-bottom: 0.3cm;
}

ul {
  list-style: none;
}

section {
  border: 0.04cm solid #5f5f5f;
  border-radius: 0.1cm;
  margin: 1cm 1cm 0 1cm;
}

article {
  background-color: darkgrey;
  border: 0.1cm solid black;
  border-radius: 0.1cm;
  margin: 0.5cm;
  padding: 1cm;
}

li:before {
  content: "\2022";
  color: rgb(142, 140, 140);
  text-shadow: 0.03cm 0.03cm black;
}

li:first-child {
  background-color: white;
  color: black;
  font-size: 0.5cm;
}

li:nth-child(2) {
  font-size: 0.7cm;
}

li:last-child {
  background-color: white;
  color: black;
  font-size: 0.9cm;
}
